<div class="container">
  <div class="row text-center">
    <div class="col-12">
      <div class="logo">
        <img src="src/imgs/logo.svg" alt="course logo">
      </div>
      <h1>Intro to Web Development</h1>
      <p class="lead">It's not just a course.</p>
    </div>
  </div>
  <div class="row text-center bottom">
    <div class="col-12 text-center apply-button">
      <a href="https://agowani.typeform.com/to/pRcKo0" data-mode="popup" class="typeform-share button btn btn-primary btn-lg" data-mode="popup" target="_blank">Apply Here</a>
    </div>
    <div class="col-12 down">
      <p>Learn More</p>
      <img src="src/imgs/arrow.png">
    </div>
  </div>
</div>