<a href="https://agowani.typeform.com/to/pRcKo0" data-mode="popup" class="typeform-share button btn btn-primary btn-lg" data-mode="popup" target="_blank">Apply Here</a>
<!-- TYPEFORM -->  
<script> 
  (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })()
</script>