<div class="container npo">
  <div class="row">
    <div class="col-12 text-center">
      <h1>Your Project + Our Students</h1>
      <p>
        When you submit a project, we will evaluate your needs and see if they are
        well-suited for our students to work on. If your project is selected, our students
        will work with you to meet your needs and make your project come to life. We've developed this
        system to gives our students the chance to work on a real-world project and also help
        non-profits further their cause through effective use of technology.
      </p>
    </div>
    <div class="col-12 text-center">
      <h1>Summer 2018 Projects</h1>
      <p>
        Due to the specific content being covered in the course there are specific
        types of project that we prefer over others. The types of project that we
        are looking for this summer are projects that <strong>incorperate the use of HTML, CSS,
        and JS.</strong> This could be anywhere from building a website from scratch to implementing
        a new front-end feature on the website. If you're not sure whether your project would
        meet our criteria just submit your project and mention that when describing your project. We'll be sure
        to reach out and clear up any confusion.
      </p>
    </div>
    <div class="col-12 text-center">
        <h1>Questions?</h1>
        <p>
          Email us at <a href="mailto:humans@itwd.us">humans@itwd.us</a>
        </p>
      </div>
  </div>
</div>